<div class="container">
	@if (error()) {
		<p class="error">{{ error() }}</p>
	}

	@if (loading()) {
	 <div class="loading-container">
		<mat-spinner diameter="48"></mat-spinner>
		<p>Ładowanie...</p>
	 </div>
	}

	@if (!loading() && !error()) {
		@for (item of items(); track item.id) {
		<mat-card class="news-card">
			<mat-card-header>
				<mat-card-title>{{ item.title }}</mat-card-title>
				<mat-card-subtitle>{{ item.date | date:'dd.MM.yyyy HH:mm' }}</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<div [innerHTML]="item.content"></div>
			</mat-card-content>
		</mat-card>
		}
	}
</div>


