<div class="login-container">
	<form [formGroup]="form" (ngSubmit)="submit()">
		<mat-form-field appearance="outline" class="full">
			<mat-label>Email</mat-label>
			<input matInput formControlName="email" type="email" required />
			@if (form.controls.email.touched && form.controls.email.invalid) {
				<mat-error>Podaj poprawny adres email</mat-error>
			}
		</mat-form-field>
		<mat-form-field appearance="outline" class="full">
			<mat-label>Hasło</mat-label>
			<input matInput formControlName="password" type="password" required />
			@if (form.controls.password.touched && form.controls.password.invalid) {
				<mat-error>Hasło jest wymagane (min 6 znaków)</mat-error>
			}
		</mat-form-field>
		<button mat-raised-button color="primary" [disabled]="loading() || form.invalid">Zaloguj</button>
	</form>
	<!-- handle error - tooltip or just text -->
</div>


